.accountSuggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}


.accountSuggestion__info {
    flex:1;
    margin-left: 15px;
}

.accountSuggestion__info  > h4 {
    font-weight: bolder!important;
}


.accountSuggestion__info  > p {
    color:#83858b;
    font-size: .9rem;
}

.accountSuggestion__title {
    width: 90px;
    height: 20px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.accountSuggestion__name {
    margin-top: 5px;
    width: 150px;
    height: 20px;
    background-color: #f8f8f8;
    border-radius: 3px;
}