.discoverTag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d7d7d9;
    border-radius: 20px;
    margin: 15px 20px 10px 5px;
    padding: 3px 10px;
    max-width:max-content;
}

.discoverTag:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.discoverTag > p {
    flex: 1;
    padding-left: 5px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
}