.header {
    display: flex;
    position: sticky;
    top:0;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0px;
    background-color: white;
    border-bottom: 1px solid #e7e7e9;
    z-index: 100;
}


.header__logo {
    width: 118px;
    height: 42px;
    object-fit: contain;
}


.header__searching {
    
    display:flex;
    align-items: center;
    border-radius: 30px;
    background-color: #f1f1f2;
    width: 25%;
     
}

.searching__input {
    flex:1;
    background-color: #f1f1f2;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    border:none;
    width: 95%;
    padding: 5px 10px;
    background-color: #f1f1f2;
    border-right: 1px solid #d7d7d9;
    
}

.searching__input:focus {
    outline: none;
}

.header__searching:hover {
    border: 1px solid #e7e7e9;
}


.searching__button {
    color: #a7a7ab!important;
    padding: 10px 13px;
    border-radius: 0px 30px 30px 0px;
}

.searching__button:hover {
    background-color: #e7e7e9;
    cursor: pointer;
}


.header__function {
    display:flex;
    align-items: center;
}


.headerIcons {
    margin-right: 20px;
}

.headerFunction__icon {
    cursor: pointer;
}

.headerFunction__avatar {

    width: 30px!important;
    height: 30px!important;
}



.modalLogin__button {
    background-color: #fe2c55;
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-family: "proxima-bold",Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 700;
    min-width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


.modalLogin__button:hover {
    background-color: #e9284f;
    
}


.menuItem__logout {
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
}